/* For top screen */

// Enable smooth scrolling on document list
[class$="-view"], [class*="-view "] {
  position: relative;
  left: 300px;
  width: calc(100% - 300px);
  padding-left: 0;
  -webkit-overflow-scrolling: touch;
}

// Adjust height
#page {
  overflow: hidden;
}
[class$="-main"], [class*="-main "] {
  height: inherit;
}

[class$="-apps"], [class*="-apps "] {
  display: none;
}

// Hide message to install extension
[data-name="extensionSafari"] {
  display: none;
}
