/* For top screen */

$navWidth: 250px;

// Enable smooth scrolling on document list
[class$="-view"], [class*="-view "] {
  position: relative;
  left: $navWidth;
  width: calc(100% - #{$navWidth});
  padding-left: 0;
  -webkit-overflow-scrolling: touch;
}

// Adjust height
#page {
  overflow: hidden;
}
[class$="-main"], [class*="-main "]:not([data-name="editor-main-menu"]) {
  height: inherit;
}

[class$="-main"], [class*="-main "][data-name="editor-main-menu"] {
  padding-left: 30px;
}
[class$="-nav"], [class*="-nav "] {
  width: $navWidth;
}

[class$="-apps"], [class*="-apps "] {
  display: none;
}
[class$="-premium"], [class*="-premium "] {
  display: none;
}

// Hide message to install extension
[data-name="extensionSafari"] {
  display: none;
}
